<!-- <ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Stud 42</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  @if (loading()) {
    <ion-spinner name="crescent"></ion-spinner>
  } @else if (error()) {
    <p>{{ error() }}</p>
  } @else if (profile(); as p) {
    <ion-card class="card">
      <ion-item lines="none">
        <ion-img class="profile-picture" slot="start" [src]="p.student.image.link"></ion-img>
        <ion-label>
          <ion-card-title>{{ p.student.usual_full_name }}</ion-card-title>
          <ion-card-subtitle>{{ p.student.login }}</ion-card-subtitle>
        </ion-label>
      </ion-item>
      <ion-card-content>
        <p class="text-item"><span class="label">Email: </span> <span class="value">{{ p.student.email }}</span></p>
        <p class="text-item"><span class="label">Phone: </span> <span class="value">{{ p.student.phone }}</span></p>
        <p class="text-item"><span class="label">Wallet: </span> <span class="value">{{ p.student.wallet }}</span></p>
        <p class="text-item"><span class="label">Eval. Points: </span> <span class="value">{{ p.student.correction_point }}</span></p>
      </ion-card-content>
    </ion-card>

    <app-segment [projects]="projects()" [skills]="skills()" />
  }
</ion-content>
