<ion-content [fullscreen]="true" class="content">
  @if (loading()) {
    <ion-spinner name="crescent"></ion-spinner>
  } @else if (error()) {
    <p>{{ error() }}</p>
  } @else if (profile(); as p) {
    <ion-card class="card">
      <div class="card-header">
        <ion-img class="profile-picture" [src]="p.student.image.link"></ion-img>
        <div class="card-identity">
          <ion-card-title>{{ p.student.usual_full_name }}</ion-card-title>
          <ion-card-subtitle>{{ p.student.login }}</ion-card-subtitle>
        </div>
      </div>
      <div class="card-details">
        <div class="detail-item">
          <span class="label">Email</span>
          <span class="value">{{ p.student.email }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Campus</span>
          <span class="value">{{ p.student.campus[0]?.name }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Status</span>
          <span class="value">{{ p.student.kind }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Level</span>
          <span class="value">{{ level() | number:'1.2-2' }}%</span>
        </div>
        <div class="detail-item">
          <span class="label">Wallet</span>
          <span class="value">{{ p.student.wallet }} ₳</span>
        </div>
        <div class="detail-item">
          <span class="label">Eval. Points</span>
          <span class="value">{{ p.student.correction_point }}</span>
        </div>
      </div>
    </ion-card>
    <app-cursus [cursusUsers]="p.student.cursus_users" (cursusChange)="onCursusChange($event)"></app-cursus>
    <app-segment [projects]="projects()" [skills]="skills()" />
  }
</ion-content>
